<div style="color:{{section.settings.text-color}}; background-color:{{section.settings.first-footer-background}} ; " class="higher-footer">
  <div class="inner-higher-footer">
    <img style="width:{{section.settings.image_size}}%;" src={{section.settings.logo   | img_url: 'large' }} alt="">

  </div>
  <div class="inner-higher-footer">
    
  {% for menu in section.settings.footer-menu.links %} 
    <a style="color:{{section.settings.text-color}};"   href={{menu.url}}>{{menu.title}}</a>
    {% endfor %}
  </div>
  <div class="inner-higher-footer">
    
  <form action="{{ routes.search_url }}">
  <input
  style="padding-top:{{section.settings.padding-top}}px;padding-bottom:{{section.settings.padding-bottom}}px;"
  type="text"
    placeholder="Search"
    name="q"
    value="{{ search.terms | escape }}"
 >
  <input class="btn" style="color:{{section.settings.search_color}} ;background-color:{{section.settings.search_bg_color}};font-size:{{section.settings.text-size}}px;" type="submit" value="Search">
</form>
    
  </div>
</div>




{% stylesheet %}

    .higher-footer{
        display:flex;
        width:100%;
        justify-content:center;

    }
    .inner-higher-footer{
        width:30%;
        
        text-align:center;
    }
    .inner-higher-footer a{
        text-decoration:none;
    }
    .btn{
      border:none;
      
    }
{% endstylesheet %}






{% schema %}
    {
        "name":"footer-1",
        "settings": [
            {
  "type": "color",
  "id": "first-footer-background",
  "label": "first-footer-background",
  "default": "#000000"
              },
              {
  "type": "color",
  "id": "text-color",
  "label": "text-color",
  "default": "#fff"
              },
              {
  "type": "link_list",
  "id": "footer-menu",
  "label": "footer-menu"
},
{
  "type": "image_picker",
  "id": "logo",
  "label": "logo"
},
{
  "type": "range",
  "id": "image_size",
  "min": 25,
  "max": 100,
  "step": 1,
  
  "label": "image_size",
  "default": 25
},
{
  "type": "color",
  "id": "search_bg_color",
  "label": "search_bg_color"
},
{
  "type": "color",
  "id": "search_color",
  "label": "search_color"
},
{
  "type": "range",
  "id": "text-size",
  "min": 1,
  "max":100,
  "step": 1,
  "label": "text_size",
  "default": 16
},
{
  "type": "number",
  "id": "padding-top",
  "label": "input-padding-top"
  
},
{
  "type": "number",
  "id": "padding-bottom",
  "label": "input-padding-bottom"
  
}
        ]
    }
{% endschema %}